/* Fonts
**********************************/
@font-face {
    font-family: 'GazeBold';
    src: url('../fonts/hq_gaze_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CaslonAntiqueRegular';
    src: url('../fonts/caslon_antique_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HeroQuest';
    src: url('../fonts/HeroQuest.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}



/* Interface styles
**********************************/

* { box-sizing: border-box; }
html, body { width:100%; height:100%;}


.frame {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: slategrey;
}

.title {
    margin: 10px 0 0;
    text-align: center;
    font-family: 'HeroQuest', Georgia, serif;
    color: white;
}

#map {
    height:100%;
    margin: 20px;
    background: saddlebrown;
    border-radius: 10px;
    box-shadow: inset 0 0 40px black;
}
